:host {
  display: block;
  float: left;
  max-width: 575px;
  padding: 25px;
  box-sizing: border-box;
}

nb-flip-card {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

nb-card {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

nb-card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart, .table {
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.filter {
  padding-top: 10px ;
  display: flex;
  flex-direction: row;
}

.exportbtn {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.exportbtn button[nbButton] {
  border-radius: unset !important;
}
