<nb-flip-card>
    <nb-card-front>
        <nb-card status="primary">
            <nb-card-header>Front Card Header</nb-card-header>
            <nb-card-body>
                <div class="filter">
                    <app-filter [filterOptions]="config.filterOptions" (filterChange)="onFilterChange($event)" [spanText]="config.chartSpanText"
                        (filterChange)="onFilterChange($event)">
                    </app-filter>
                </div>
                <div [attr.id]="chartElementId" class="chart"></div>
            </nb-card-body>
        </nb-card>
    </nb-card-front>
    <nb-card-back>
        <nb-card status="info">
            <nb-card-header>Back Card Header</nb-card-header>
            <nb-card-body>
                <div class="filter">
                    <app-filter [filterOptions]="config.filterOptions" (filterChange)="onFilterChange($event)" [spanText]="config.tableSpanText"
                        (filterChange)="onFilterChange($event)">
                    </app-filter>
                </div>
                <div [attr.id]="tableElementId" class="table"></div>
            </nb-card-body>
        </nb-card>
    </nb-card-back>
</nb-flip-card>