<nb-card>
  <ng-container
    *ngFor="let filterKey of filterOptions | keyvalue; index as i"
    class="filter"
  >
    <nb-card-body>
      <span class="subtitle">{{ spanText[i] | titlecase }}:</span>
      <nb-select
        multiple
        placeholder="Select {{ spanText[i] | titlecase }}"
        (selectedChange)="onFilterChange(filterKey.key, $event)"
      >
        <nb-option
          *ngFor="let option of filterOptions[filterKey.key]"
          [value]="option.value"
        >
          {{ option.label }}
        </nb-option>
      </nb-select>
    </nb-card-body>
  </ng-container>
</nb-card>
